.footer-up {
    background-image: url(../img/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    .container {
        background-image: url(../img/dc-logo-bg.png);
        background-repeat: no-repeat;
        background-position: right;
        padding: 35px 0px;

        ul li {
            padding: 3px 0px;

            a {
                color: #959595;
            }
        }

        .sites,
        .dc {
            padding: 0px 25px;
        }

        h3 {
            color: white;
            padding: 15px 0px;
        }
    }
}

.footer-down {
    background-color: #303030;
    padding: 30px 0px;



    .button-sign-up {
        color: white;
        border: 3px solid #0282f9;
        padding: 15px 10px;
    }

    img {
        display: inline;
        vertical-align: middle;
        padding: 0px 7px;
    }

    .follow {
        color: #0282f9;
        font-weight: bold;
        font-size: 20px;
        vertical-align: middle;
        margin-right: 7px;
    }


}