header {
    padding: 15px 0px;
}

header img {
    width: 80px;
}

header ul li {
    display: inline-block;
    padding: 0px 10px;
}

header ul li input {
    border: none;
    border-bottom: 2px solid #0282f9;
}